<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <small class="copyright">HTH WORLDWIDE A NJ NONPROFIT CORPORATION<a href="https://github.com/devilking6105/hthworldwide-website-template" target="_blank">A Registered 501(c)(3)</a> A Cryptocurrency Nonprofit<a href="http://hth.world" target="_blank">HTH Coin</a></small><br>
    <small class="copyright">Designed <i class="fa fa-heart"></i> by <a href="http://hth.world" target="_blank">HTH Worldwide</a></small>
  </div><!--//container-->
</footer><!--//footer-->
