<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <small class="copyright" style="color: #debf12 !important;">Secure Cloud Network<br></small>
    <small class="copyright" style="color: #debf12 !important;">Payments for the Cloud<br></small>
    <small class="copyright">A Cryptocurrency for the Cloud<a href="http://securecloudnet.org" target="_blank"></a></small>
   <br>
    <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://michaelh.org" target="_blank">Michael H</a></small>
  </div><!--//container-->
</footer><!--//footer-->
