<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <small class="copyright" style="color: $color4 !important;">HTH Worldwide A NJ Nonprofit Corporation><br> A Registered 501(c)(3)</a> Nonprofit<a href="http://hth.world" target="_blank"> & Cryptocurrency</a></small><br>
    <small class="copyright">Designed <i class="fa fa-heart"></i> by <a href="http://hth.world" target="_blank">HTH Worldwide</a></small>
  </div><!--//container-->
</footer><!--//footer-->
