---
# Do not remove the triple dashes
---
@charset "utf-8";

//
// Set theme colors
//

{% if site.theme == "one" %}
  $color: #000;
  $color-2: #eebf3f;
  $color3: #000;
  $color4: #debf12;
  $color5: #34bcaa;
{% elsif site.theme == "two" %}
  $color: #b4ca65;
  $color-2: #dd7c4f;
  $color3: #000;
  $color4: #debf12;
  $color5: #34bcaa;
{% elsif site.theme == "three" %}
  $color: #6690b9;
  $color-2: #f46fa3;
  $color3: #000;
  $color4: #debf12;
  $color5: #34bcaa;
{% elsif site.theme == "four" %}
  $color: #50c8c9;
  $color-2: #ffbe57;
  $color3: #000;
  $color4: #debf12;
  $color5: #34bcaa;
{% else %}
  $color: #6690b9;
  $color-2: #dd9d71;
  $color3: #000;
  $color4: #debf12;
  $color5: #34bcaa;
{% endif %}

//
// Import partials from `_sass` folder
//

@import "default";

//
// Insert custom css below this line
//

.disabled-link {
  pointer-events: none;
}
.logo-title:hover {
  text-decoration: none;
}
.promo .title {
  font-size: 65px;
  color: $color4;
  margin-top: 0;
}
.btns {
  margin-top: 50px;
  margin-bottom: 50px;
}
.promo .meta {
    margin-top: 30px;
}
.donorbox {
  margin-top: 60px;
}
.join-us-intro {
  margin-top: 0;
  color: $color4 !important;
}
.highlight {
  color: $color4 !important;
}
.promo .social-icons a {
    display: inline-block;
    background: $color3;
    color: $color5;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 8px;
    float: left;
}
.btn-outline, .btn-outline:link, .btn-outline:visited {
    background-color: transparent;
    border-radius: 5px;
    &.btn-outline-primary {
      border: 2px solid $color4;
      color: $color5;
    }
    &.btn-outline-secondary {
      border: 2px solid $color4;
      color: $color5;
    }
    &.btn-outline-medium {
      border: 2px solid $color4;
      color: $color5;
    }
}
.btn-outline:hover {
    color: $color5 !important;
    &.btn-outline-primary {
      background-color: $color3;
    }
    &.btn-outline-secondary {
      background-color: $color3;
    }
    &.btn-outline-medium {
      background-color: $color3;
    }
}
.features .form-inline {
  margin-top: 10px;
}


/*================== TEACHER SECTION====================*/ 
#mu-our-teacher
 {
max-width: 800px;
background: $color3 !important;
color: $color5 !important; 
display: inline;		
float: left;			
padding: 35px 25px;			
text-align: center;			
width: 33.33%; 
	
}	

#mu-our-teacher 

.mu-our-teacher-area 

.mu-our-teacher-content 

.mu-our-teacher-single 
{	 	 
margin-bottom: 30px;	
}

#mu-our-teacher
{	

.mu-our-teacher-area
{		

.mu-our-teacher-content
{			

.mu-our-teacher-single
{				

.mu-our-teacher-img
{					

.mu-our-teacher-social
{						
background-color: $color3;	
						
					
a
{						
	
&:hover,					
		

&:focus
{						
color: $color5;					
}						
}					
}				
}						
}		
}	
}
}



#mu-our-teacher
{	


mu-our-teacher-area
{		
display: inline;		
float: left;		
width: 100%;

.mu-our-teacher-content
{			
display: inline;			
float: left;			
margin-top: 50px;			
width: 100%;			

.mu-our-teacher-single
{				
display: inline;				
float: left;				
width: 100%;				

&:hover
{					

.mu-our-teacher-img
{						

.mu-our-teacher-social
{						
opacity: 1;			

a
{					

}						
}					
}				
}				

.mu-our-teacher-img
{					
background-color: $color3;				
display: inline;	
position: relative;				
float: left;					
width: 100%;					

img
{						
width: 100%;					
}					

.mu-our-teacher-social
{						
bottom: 0;					
left: 0;					
opacity: 0;					
overflow: hidden;				
padding-top: 43.5%;			
position: absolute;			
right: 0;					
text-align: center;			
top: 0;									
			
a
{						
border: 2px solid $color4;			
color: $color5;					
display: inline-block;			
font-size: 18px;				
height: 40px;				
line-height: 40px;				
margin: 0 5px;				
width: 40px;								
				
&:hover,			
				
&:focus
{					
background-color: $color3;			
}						
}					
}				
}				

.mu-ourteacher-single-content
{					
display: inline;	
float: left;					
width: 100%;					

h4
{						
margin-bottom: 0;				
margin-top: 20px;			
text-transform: uppercase;			
}
					
span
{						
color: $color5;					
display: block;					
font-size: 14px;				
margin-bottom: 8px;				
margin-top: 5px;				
}					

p
{						
font-size: 15px;				
}				
}			
}		
}	
}
}
